<div class="container">
  <form>
    <div class="form-group">
      <label for="cardId">Card</label>
      <input type="text" class="form-control" id="cardId" required>
    </div>
    <div class="form-group">
      <label for="cardValue">Value</label>
      <input type="text" class="form-control" id="cardValue">
    </div>
    <div class="form-group">
      <label for="cardComment">Comment</label>
      <input type="text" class="form-control" id="cardComment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
